
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SILAMBARSAN | QUOTES | ACCOUNT</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
</head>
<body>
    <form action="/" method="post" style="width: 350px;">
        <h1>quotes generater</h1>
        <div class="btns">
            <button type="submit" id="reg"><a href="/register">register</a></button>
            <button type="submit" id="log"><a href="/login">login</a></button>
        </div>
        <ul class="info">
            <p>instrctions :-</p>
            <li>create a new account to click a register button</li>
            <li>If you already have an a account to click a login button. </li>
        </ul>
    </form>
    <p id="copy">copyrights with © silambu working from <span>cyber frozen</span>  company.</p>

</body>
</html>