<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SILAMBARASAN | QUOTES | LOGIN</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
</head>
<body>
    <form action="/login" method="post">
        <h1 style="color:red"><%= value %></h1>
        <h1>LOGIN</h1>
        <input type="email" name="email" id="" placeholder="username" required>
        <input type="password" name="password" id="" placeholder="password" required>
        <button type="submit">LOGIN</button>
        <button><a style="color: #fff;text-transform: uppercase;" href="register">register</a></button>
    </form>
</body>
</html>