*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    background: none;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e272e;
}

form{
    width: 300px;
    padding: 10px;
    text-align: center;
}

form h1{
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0.7rem 0rem;
    color: bisque;
}

form input{
    width: 100%;
    padding: 10px 10px;
    font-size: 1.4rem;
    border: 1px solid gray;
    margin: 7px 0px;
    border-radius: 5px;
    color: #fff;
}

form button{
    cursor: pointer;
    width: 100%;
    background-color: blue;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px;
}

form input:focus{
    border: 2px solid red;
}

.btns{
    width: 100%;
    display: flex;
    padding: 0px 20px;
}

.btns #reg a, .btns #log a{
    text-transform: uppercase;
    color: #fff;
}

#reg{
    margin-right: 10px;
}

.info{
    margin-top: 2rem;
    color: gray;
    text-align: left;
}
ul li{
    margin-left: 2rem;
    font-size: .9rem;
}

#copy{
    position: fixed;
    bottom: 10px;
    color: gray;
    font-size: 1.2rem;
}

#copy span{
    color: yellow;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0px 5px;
}